@{
    ViewData["Title"] = "Home Page";
}

<!-- Sidebar: document list -->
<div class="sidebar">
    <h3>My Documents</h3>
    <ul>
        <li><a href="#">Document 1</a></li>
        <li><a href="#">Document 2</a></li>
    </ul>
</div>

<!-- Main text area -->
<div id="editor" contenteditable="true" class="editor">
    
</div>

